/* font word */
@font-face {
    font-family: 'custom'; 
    src: url('fonts/custom.ttf') format('truetype'); 
}
@font-face {
    font-family: 'courier';
    src: url('fonts/courier2.ttf') format('opentype');
}
@font-face {
    font-family: 'migra';
    src: url('fonts/Migra.ttf') format('opentype');
}
@font-face {
    font-family: 'tusker';
    src: url('fonts/tusker4.ttf') format('opentype');
}
@font-face {
    font-family: 'neue';
    src: url('fonts/Neuemontreal/NeueMontreal-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'baskerville';
    src: url('fonts/Baskervville-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Mont-bold';
    src: url('fonts/Montserrat-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'Mont-light';
    src: url('fonts/Montserrat Ultra Light.ttf') format('opentype');
}
@font-face {
    font-family: 'Mont-Semibold';
    src: url('fonts/Montserrat SemiBold.ttf') format('opentype');
}
body {
    margin: 0;
    height: 100%;

}
.ap__section {
    min-height: 0;
}

@media (min-width: 540px) {
    .ap__container {
        padding: 0.5em 15px;
    }
}
#intro {
    position: relative;
    height: 100vh;
    background: #FBF9F6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.center {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    font-size: 1.7em;
    color: #6C765B;
    font-family: "baskerville";
    text-shadow: 2px 2px 5px #FBF9F6;
    line-height: 90px;
}
.btn {
    width: 300px;
    font-size: 25px;
    font-family: "bakerville";
    color: #fff;
    border-radius: 50px;
    padding: 8px 14px;
    cursor: pointer;
    border: 2px solid transparent;
    transition-duration: 200ms;
    margin-top: 50px;
    background: rgba(159, 190, 143, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.btn:hover {
    box-shadow: -5px 5px 0 0 #6C765B;
    transform: translate(-1px, -1px);
    background: rgba(159, 190, 143, 0.75);
}
/* header section */
body {
    margin: 0;
    padding-top: 0%;
    font-family: "neue";
    color: #6C765B;

}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
/* Container and section styles */
/* Flex container for all main elements 
.scroller {
    opacity: 0;
} */
.ap__container {
    padding: 10px 15px;
}
nav.main-navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    top: 0;
    position: sticky;
    box-sizing: border-box; 
    padding-bottom: 10px;
    background: transparent;
}
.title span.h6:first-child {
    margin-right: 40px;  
}
.title, #main-menu ul {
    display: flex;
    align-items: center;
    gap: 10px; /* space between items */
    font-size: 0.6em;
}
#main-menu ul {
    display: flex;
    gap: 80px; 
    margin: 0;
    padding: 10px;
    list-style: none; 
}
.title {
    display: flex;
    gap: 20px; /* space between title and designation */
    align-items: center;

}
.h6 {
    margin: 10;
    line-height: 0.5px;
    font-family: "neue";
}
span.h6:active {
    color: #9fbe8f; 
}
a {
    text-decoration: none;
    color: inherit;
}
#main-menu a:active {
    color: #9fbe8f; 
}
/* About content */
#about-content {
    padding-bottom: 0;  
    position:absolute;
    display: block;
    justify-content: center;
}
/* .overlay-container {
    font-size: 35px;
    color: #6C765B;
    text-shadow: 1px 1px 3px #FBF9F6;
    text-transform: uppercase;
    font-family: "Didot";    
}
.main-text {
    z-index: 2;
    position: relative;
}
.overlay-text {
    font-family: 'custom'; 
    text-transform: lowercase;
    position: absolute;
    left: 50%;
    transform: translate(-50%);  /* Centered based on its own width 
    padding-top: 3px;
    opacity: 0.4;
    letter-spacing: 11px;
    font-style: italic;
    text-indent: 15px;
} */
/* Basic styles */
#about-content {
    position: relative;
   /* align-self: flex-end; */
}
/*.main-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */
.toptitle-container { 
    position: absolute;  
    margin-top: 280px;
    font-size: 160px;
    z-index: 1;
    padding-left: 10px;
}
.toptitle-element {
    font-size: 30px;
    display: block;
    font-family: 'migra';
    color: #90a58a;
    line-height: 1.3;
    margin-bottom: -15px;
}
.split {
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    height: 378px;
}
.line_1 {
    font-size: 200px; 
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: -50px;
    font-family: 'tusker';
    letter-spacing: 3px;
}
.line_2 {
    font-size: 200px;
    text-transform: uppercase;
    font-family: 'tusker';
    letter-spacing: 3px;
    margin-bottom: 80px;
}
.content-container {
    flex-direction: column;
    padding-top: 6%;
    padding-right: 25px;
    background-color: #FBF9F6;
}
.line_3 {
    text-align: right;
    justify-content: right;
    padding-left: 50%;
    font-size: 70px;
    padding-bottom: 60px;
    font-family: 'neue';
    line-height: 77px;
}
.line_4 {
    max-width: 50%;
    padding-left: 50%;
    text-align: right; 
    font-size: 30px;
    font-family: 'neue';
    line-height: 50px;
    margin-top: 15px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50%;
    background-color: #FBF9F6;
    padding-bottom: 90px;
}
@keyframes gradient {
    0% {background-position: 0% 0;}
    50% {background-position: 100% 0;}
    100% {background-position: 0% 0;}
}
.myButton {
    width: 220px;
    height: 50px;
    font-size: 24px;
    font-family: "neue", sans-serif;
    color: #354A21;
    border-radius: 28px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition-duration: 200ms;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
    margin-left: 130px;
    margin-top: 50px;
    box-shadow: 0px 8px 15px #6C765B; 
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5), #90a58a, #90a58a);
    background-size: 200% 200%;
    background-position: 100% 0;
    animation: gradient 5s ease infinite;
}
.myButton:hover {
    background: #6C765B; 
    transform: scale(1.05); 
}
body.fade-out {
    animation: fadeout 1s forwards;
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Technical Section*/

.skills-section {
    background-color: #7B8069;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 200px;
    padding: 3em;
}
h2 {
    font-size: 40px;
    font-family: 'mont-bold';
    color: #fff;
    margin: 20px;
    padding-bottom: 10px;
}

.skills-subtitle {
    margin: 20px 0 30px 0;
    color: #fff;
    line-height: 1.4;
    font-family: 'mont-light';
    font-size: 25px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px; /* Adjust the space between the columns */
}

.skills-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%; /* Split the width evenly */
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "mont-bold";
    font-size: 20px;
}

.skill:hover {
    transform: translateY(-5px); /* Slight raise effect on hover */
}
.progress-bar {
    background-color: #B5B7A4; 
    border-radius: 20px; /* Rounded corners */
    width: 100%; 
    height: 10px; 
    position: relative;
    align-items: center;
    display: flex;
}
.progress {
    background-color: #ffff; 
    height: 13px;
    border-radius: 15px;
    width: 0; /* Progress bar width animation */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.percentage {
    text-align: right;
    font-weight: bold;
    margin-top: 10px; /* Adds spacing between progress bar and percentage */
    color: #fff; 
    margin-left: auto; 
    padding-right: 5px; 
}


